.FilterMeals {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left:0;
    right:0;
    z-index: 999;
    width: 100%;
    height: 100rem;
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
}

.InputOuter{
    display: flex; 
    position: relative;
    align-items: center;
}

.SeachInput {
    width: 650rem;
    height: 70rem;
    border: none;
    border-radius: 14px;
    background-color: #f2f2f2;
    padding-left: 10rem;
    padding-left: 70rem;
    outline: none;
    font-size: 32rem;
}

.SeachIcon {
    position: absolute;
    left: 20rem;
    color: #181313;
    font-size: 40rem;
}
