.ConfirmOuter{
    z-index: 9999;
}

.Confirm{
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    width: 700rem;
    height: 300rem;
    background-color: aliceblue;
    border-radius: 20rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ConfirmText{
    font-size: 38rem;
}

.Cancel, .OK{
    border: 1px solid #fff;
    width: 180rem;
    height: 80rem;
    border-radius: 40rem;
    font-size: 28rem;
}
.OK{
    background-color: coral;
    border: none;
    margin-left: 50rem;
}