.Bar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 700rem;
    height: 80rem;
    background-color: rgb(33, 28, 28);
    border-radius: 40rem;
    bottom: 20rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
}
.Button{
    border: none;
    background-color: burlywood;
    width: 200rem;
    border-radius: 40rem;
    font-size: 36rem;
}

.TotalPrice{
    display: flex;;
    color: aliceblue;
    margin-left: 60rem;
    align-items: center;
    font-size: 36rem;
}

.TotalPrice::before{
    content: '￥';
    font-size: 24rem;
}